/* @media screen and (max-width:1440px) {
	.w1024px,.w1440px {
		background-color: rgb(250, 63, 16);
	}
} */

.w1024px,
.w1440px {
	background-color: rgb(250, 63, 16);
}

@media screen and (max-width: 2560px) {
	.w2560px {
		background-color: rgb(43, 250, 16);
	}
}
